* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  div{
    background: url(./Assets/Images/bg.webp)  no-repeat center fixed;
    background-size: cover;
  }
  .regmain {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .regform {
    width: 40%;
    height: 28rem;
    background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 20px 20px 50px #bebebe, -20px -20px 50px #ffffff;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .regheader,
  input {
    margin: 0.8rem 0;
  }

  .regheader {
    font-weight: 700;
    font-size: 1.5rem;
  }
  input {
    border: none;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    background-color: #aca6a6;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    color: rgb(7, 7, 7);
  }
  #regbtn{
    background-color: rgba(109, 109, 112, 0.5);
    color: black;
    border: none;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #b8b6b6, -5px -5px 10px #b8b6b6;
  }
  .regtitle{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .regheader{
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .regnew{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .regparent{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
  .reggoogle, .regfacebook{
    min-width:45%;
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 5px 5px 10px #b8b6b6, -5px -5px 10px #b8b6b6;
  }
  a:link{
    text-decoration: none;
    font-weight: 250;
    font-size: 1rem;
    color: black;
  }
  a:visited{
    font-weight: 250;
    font-size: 1rem;
    color: black;
  }
  a:active{
    font-weight: 250;
    font-size: 1rem;
    color: black;
  }
  a:hover{
    font-weight: 250;
    font-size: 1rem;
    color: black;
  }
  #reggo, #regfb{
    padding-right: 5px;
  }
  #regoption{
    padding-bottom: 0.6rem;
  }
  .regimg-google{
    margin-right: 5px;
  }
  #regnameError,
      #regemailError,
      #regpasswordError {
        color: red;
      }